@import url("https://fonts.googleapis.com/css?family=Nunito|Poiret+One|Josefin+Slab");
.body {
    margin: 0;
    background-color: #4c535f;
    color: white;
}

strong {
    color: #efa262;
}

.home-container {
    font-family: "Poiret One";
}

.home-title,
.home-title label,
.reference,
.github,
.linkedin,
.keyboard-container,
.keyboard,
.score-container,
#board div.tile,
.start-container,
.rule-right,
.rule-right label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title {
    margin: 20px 0 0;
}

.home-title label {
    padding: 5px;
    width: 5vw;
    height: 5vw;
    border-radius: 5px;
    font-size: 0.8em;
    background-color: #efa262;
    margin: 0;
}

.github,
.linkedin {
    font-size: 24px;
    margin: 0 0 0 7px;
    border: 2px outset #ddd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.7s;
}

.github:hover,
.linkedin:hover {
    cursor: pointer;
    color: #ddd;
    opacity: 0.6;
    text-decoration: none;
    transition: opacity 0.4s;
}

.score-title {
    font-size: 20px;
}

#score {
    color: #efa262;
    font-size: 31px;
}

.rule {
    text-align: center;
    padding: 0;
    margin: 5px auto;
}

.rule-right label {
    width: 2.5vw;
    height: 2.5vw;
    font-size: 0.7em;
    border-radius: 3px;
    background-color: #efa262;
    margin: 0;
}

.start-container {
    margin: 0 auto 10px;
}

#start {
    font-size: 1.2em;
}

#board {
    width: 50vw;
    height: 50vw;
    background-color: #6e7480;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}

#board div.tile {
    margin: 4% 0px 0px 4%;
    width: 20%;
    height: 20%;
    font-size: 2em;
    float: left;
    border-radius: 9px;
    transition: all 0.3s;
}

#board div.tile0 {
    background: #ccc0b2;
}

#board div.tile2,
#board div.tile4 {
    color: #7c736a;
}

#board div.tile8,
#board div.tile16,
#board div.tile32,
#board div.tile64,
#board div.tile128,
#board div.tile256,
#board div.tile512,
#board div.tile1024,
#board div.tile2048 {
    color: #fff7eb;
}

#board div.tile2 {
    background: #eee4da;
}

#board div.tile4 {
    background: #ece0c8;
}

#board div.tile8 {
    background: #f2b179;
}

#board div.tile16 {
    background: #f59563;
}

#board div.tile32 {
    background: #f57c5f;
}

#board div.tile64 {
    background: #f65d3b;
}

#board div.tile128 {
    background: #edce71;
}

#board div.tile256 {
    background: #edcc61;
}

#board div.tile512 {
    background: #ecc850;
}

#board div.tile1024 {
    background: #edc53f;
}

#board div.tile2048 {
    background: #eec22e;
}